{
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "presets": [ "es2015", "stage-0" ],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error"
  }
}
